#time{
    margin-left:500px;
    font-size:30px;
}

#score{
    margin-right:500px;
    font-size:30px;
}

body{
    background-color: greenyellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#show_sketch{
    float: right;
}

#drawn_sketch{
    font-size:30px;
}

         
.btn-grad {
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  canvas
  {
    border-radius: 20px;
    border: 5px solid white;
    margin-top:200px;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  @keyframes example
  {
    from{
        box-shadow: 1px 1px 38px rgb(171, 38, 38);
    }

    50%{
        box-shadow: 1px 1px 38px rgb(93, 0, 255)
    }

    to{
        box-shadow: 1px 1px 38px rgb(57, 206, 87);
    }
  }